body {
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #aaa;
	font-size: 2em;
	font-weight: 300;
}


a{
	color: #a5a6a8;
    text-decoration: none;
	cursor: pointer;
	padding: 1em;
}

a:hover, a:active {
    outline: 0;
}

button{
	border: 1px solid #fff;
    border-radius: 0px;
    background: transparent;
	cursor: pointer;
	padding: 1em;
}

ul{
	list-style: none;
    text-align: center;
	display: flex;
	gap: 2em;
	justify-content: center;
}

li{
	padding-bottom: 1em;
}

nav:hover{
	color: #a5a6a8;
}

.dropdown{
	position: relative;
}

.dropdown:hover + .dropdown-content {display: block;background: #202020;
	border-top: 2px solid #fff;}

.dropdown-content{
	display: none;
	position: absolute;
	transform: translateX(-50%);
	padding: 1em 2rem 0rem 2rem;
	background-color: #f1f1f1;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
