:root{
	--text-primary: #fff;
	--text-secondary: #aaa;
	--text-tertiary: #a5a6a8;
	--text-reverse: #000;
	--accent-primary: #fff;
	--site-width: 60rem;
}

body {
	display: grid;
	grid-template-rows: min-content auto min-content;
	filter: saturate(1);
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-primary);
	text-align: center;
	min-height: 100vh;
	margin: 0;
	@media  screen and (max-width: 1000px) {
		padding: 0 1rem;
	}
}

header{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	max-width: var(--site-width);
	margin: auto;
	margin-bottom: 4rem;
	@media  screen and (max-width: 730px) {
		grid-template-columns: auto;
		margin-bottom: 2rem;
	}
}

article{
	max-width: var(--site-width);
	margin: 0 auto;
}

h1, h2, h3, h4 {
    color: var(--text-secondary);
}

article > h1{
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 5rem;
}

article > h2{
	font-weight: 300;
	text-transform: uppercase;
}

article > h3{
	color: var(--text-primary);
	font-weight: 300;
	text-transform: uppercase;
}

p{
	line-height: 1.5rem;
}

.intro p{
	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;
}

a{
    text-decoration: none;
	color: inherit;
}

a:hover:not(.no-click), a:active:not(.no-click) {
    color: var(--text-tertiary);
	cursor: pointer;
}

article button{
	border: 1px solid var(--accent-primary);
	color: var(--text-tertiary);
    background: transparent;
	cursor: pointer;
	padding: 1rem;
	font-size: 1rem;
}

.highlight-button:hover{
	color: var(--text-reverse);
	background-color:#fff;
}

nav ul{
	list-style: none;
    text-align: center;
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
}

nav > ul > li{
	position: relative;
}

nav > ul > li:hover > ul{
	display: block;
	background: #202020;
	border-top: 2px solid var(--accent-primary);
}

nav > ul > li > ul{
	display: none;
	position: absolute;
	top: 3rem;
	transform: translateX(-50%);
    left: 50%;
	background-color: #f1f1f1;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

nav > ul > li > ul > li{
	white-space: nowrap;
}

nav a{
	display: block;
	width: 100%;
	height: 100%;
	padding: 1rem 2rem;
	box-sizing: border-box;
}

article > form > div{
	display: grid;
	grid-template-columns: auto auto;
	gap: 0 3rem;
	
	margin: auto;
	text-align: left;
}

article > form > div > div > label{
	display: block;
	padding:  1rem 0  0  0;
}

article > form > div > div > input{
	padding: 0;
}

article .submit{
	display: block;
	text-align: center;
	margin-top: 2rem;
}

input:not([type="submit"]) {
    background: #a5a6a8;
    padding: 0.75rem;
	width: 100%;
}

input[type="submit"]{
	border: 1px solid var(--accent-primary);
	color: var(--text-tertiary);
    background: transparent;
	cursor: pointer;
    padding: 0.75rem;
	font-size: 1rem;
}

footer{
	text-align: left;
	padding: 0 1rem;
}

.menu{
	gap: 3rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-evenly;
	margin: auto;
	flex-wrap: nowrap;
	text-align: left;
	@media screen and (max-width: 600px) {
		grid-template-columns: none;
	}
}

.menu > div{
	display: grid;
	grid-template-columns: auto min-content;
	gap: 0 2rem;
	justify-content: space-between;
}

.menu h4{
	font-weight: bold;
	text-transform: uppercase;
    color: var(--text-primary);
	margin-bottom: 0;
}

.diet-list{
	list-style: none;
	font-size: 0.95rem;
	text-align: center;
	padding: 0;
}

.open-hours{
	margin-left: auto;
  	margin-right: auto;
	text-align: center;
	border-spacing: 1rem 0;
}

.bg{
	background-size: cover;
	background-position: 50% 50%;
}

.bg::before{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.65);
	box-shadow: 0 0 5rem 0.25rem black inset;
	content: "";
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.bg-sandwiches{
	background-image: url("/images/bg_sandwiches.jpg");
}

.bg-chickenwings{
	background-image: url("/images/bg_chickenwings.jpg");
}

.bg-tomatoes{
	background-image: url("/images/bg_tomatoes.jpg");
}

.bg-cake{
	background-image: url("/images/bg_carrotcake.jpg");
}

.bg-champagne{
	background-image: url("/images/bg_champagne.jpg");
}

.bg-cloudberry{
	background-image: url("/images/bg_cloudberry.jpg");
}

.logo{
	padding: 1rem 0;
	text-align: left;
	@media  screen and (max-width: 730px) {
		text-align: center;
	}
}

.logo img{
	height: 4rem;
}

.mask{
	height: 2rem;
	opacity: 20%;
}